{% extends 'layout.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<main style="height: 1200px">
    <input type="text"id="wrap"placeholder="Recherche..."/>
    <div id="pc">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Mon compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_recette') }}">Proposer une recette</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_saisons') }}">Saisons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_minuteur') }}">Minuteur</a>
            </li>
        </ul>
    </div>

    <div class="article">
        <span class="iconify" id="logo_contact"data-icon="fluent:contact-card-32-filled" style="color: black;"></span>
        <h1 id="contact">Contact:</h1>
    </div>
    <a href="mailto:rafael.koebel@gmail.com" id="mail">rafael.koebel@gmail.com</a>
    
</main>
{% endblock %}
