{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main>
    <input type="text"id="wrap"placeholder="Recherche..."/>
        <div id="pc">
            <ul>
                <li>Mon compte</li>
                <li>Proposer une recette</li>
                <li>Saisons</li>
                <li>Minuteur</li>
            </ul>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cA02sRHo9-8" title="YouTube video player" id="video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="bloc">
            
            <h1 id="confiture">Confitures</h1>
            <h1 id="glace">Glaces</h1>
            <h1 id="gateau">Gâteaux</h1>
            <h1 id="yaourt">Yaourts</h1>
        </div>
        
</main>

{% endblock %}
